In [1]:
import numpy as np
import pandas as pd
import random

In [47]:
# https://www.kaggle.com/dylanjcastillo/7k-books-with-metadata
df = pd.read_csv("data/dataset.csv")

df = df.drop('thumbnail',axis=1)
df = df.drop('isbn10',axis=1)
df = df.rename(columns={'isbn13': 'isbn'})
df.index = np.arange(1, len(df) + 1)

df['published_year'] = df['published_year'].astype(dtype=pd.Int32Dtype(), errors='ignore')
df['num_pages'] = df['num_pages'].astype(dtype=pd.Int32Dtype(), errors='ignore')
df['ratings_count'] = df['ratings_count'].astype(dtype=pd.Int32Dtype(), errors='ignore')

df['book_thickness'] = [ random.sample([0.12,0.105,0.11,0.09,0.08,0.065,0.06],1)[0] for i in range(len(df))] * df['num_pages'] + 2 * np.random.randint(0, 6, len(df))

df['book_thickness'] = df['book_thickness'].round(0).astype(dtype=pd.Int32Dtype(), errors='ignore')


df['title'] = np.where(df['subtitle'].notnull(), (df['title'] + ". " + df['subtitle']),df['title'])
df = df.drop('subtitle',axis=1)
df = df.dropna(how='any',axis=0)

df['price'] = df['book_thickness'] * 0.45 - df['ratings_count'] * 0.00001
df['price'] = df['price'].apply(lambda x: 2 if x < 2 else x)
df['price'] = df['price'].round(2)

df['num_pages'] = df['num_pages'].apply(lambda x: 100 if x == 0 else x)
df['book_thickness'] = df['book_thickness'].apply(lambda x: 13 if x == 0 else x)

df['categories'] = df['categories'].str.replace('"', '')
data = dict()

for index, row in df.iterrows():
    if(str(row['categories']).lower().strip(' .;') in data):
        df.loc[index, 'categories'] = data[str(row['categories']).lower().strip(' .;')]
    elif(str(row['categories']).lower().strip(' .;') + 's' in data):
        df.loc[index, 'categories'] = data[str(row['categories']).lower().strip(' .;')+ 's']
    elif(str(row['categories']).lower().strip(' .;')[-1:] == 's' and str(row['categories']).lower().strip(' .;')[:-1] in data):
        df.loc[index, 'categories'] = data[str(row['categories']).lower().strip(' .;')[:-1]]
    else:
        data[str(row['categories']).lower().strip(' .;')] = row['categories']
        
df.head()

,isbn,title,authors,categories,description,published_year,average_rating,num_pages,ratings_count,book_thickness,price
1,9780002005883,Gilead,Marilynne Robinson,Fiction,A NOVEL THAT READERS and critics have been eag...,2004,3.85,247,361,24,10.80
2,9780002261982,Spider's Web. A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...,2000,3.83,241,5164,37,16.60
3,9780006163831,The One Tree,Stephen R. Donaldson,American fiction,Volume Two of Stephen Donaldson's acclaimed se...,1982,3.97,479,172,35,15.75
4,9780006178736,Rage of angels,Sidney Sheldon,Fiction,"A memorable, mesmerizing heroine Jennifer -- b...",1993,3.93,512,29532,43,19.05
5,9780006280897,The Four Loves,Clive Staples Lewis,Christian life,Lewis' work on the nature of love divides love...,2002,4.15,170,33684,23,10.01

In [48]:
df_cat = pd.DataFrame(pd.unique(df['categories']),columns=['categories'])
df_cat['len'] = df_cat['categories'].str.len()
df_cat =  df_cat.sort_values('len')
df_cat = df_cat.drop('len',axis=1)

df_cat['dom_categories']= ""
for index, row in df_cat.iterrows():
    temp = str(row['categories']).lower()
    for index2, row2 in df_cat.iterrows():
        temp2 = str(row2['categories']).lower()
        if(temp != temp2):
            if temp in  list(map(lambda x: x.strip(' .;,)('), temp2.split())) or temp[:-1] in list(map(lambda x: x.strip(' .;,)('), temp2.split())):
                df_cat.loc[index2, 'dom_categories'] = str(df_cat.loc[index2, 'dom_categories'])+'$$'+str(row['categories'])

df_cat_final = pd.DataFrame(columns=['category','dom_category'])
i=0
for index, row in df_cat.iterrows():
    if(row['dom_categories'] != ''):
        for cat in row['dom_categories'][2:].split('$$'):
            df_cat_final.loc[i] = {'category' : row['categories'], 'dom_category' : cat}
            i+=1
            
    else:
        df_cat_final.loc[i] = {'category' : row['categories'], 'dom_category' : ''}
        i+=1

In [49]:
from loremipsum import get_sentences

df_categor_tab = pd.DataFrame(columns=['category'])
df_categor_tab['category'] = pd.unique(df_cat_final['category'].copy())
sentences_list = get_sentences(len(df_categor_tab))
sentences_list
df_categor_tab["description"] =  pd.Series(sentences_list)
df_categor_tab

,category,description
0,Law,B'nibh' b'et' b'a' b'a' b'a' b'a' b'aptent'.
1,Art,B'urna' b'mi' b'a' b'pretium' b'tellus' b'a' b...
2,War,B'orci' b'id' b'a' b'a' b'nam' b'arcu' b'eros'...
3,Sex,B'diam' b'ut' b'a' b'eros' b'a' b'a' b'a' b'ni...
4,Men,B'urna' b'ac' b'a' b'arcu' b'sed' b'nec' b've'.
...,...,...
513,"Battle, Superintendent (Fictitious character)",B'urna' b'ut' b'eu' b'in' b'ac' b'id' b'a'.
514,"Detective and mystery comic books, strips, etc",B'ante' b'id' b'a' b'eros' b'a' b'a' b'vestibu...
515,Englisch - Geschichte - Lyrik - Aufsatzsammlung,B'cras' b'eu'.
516,Characters and characteristics in motion pictures,B'elit' b'ut' b'a' b'aptent' b'a' b'a' b'leo' ...
517,Estados Unidos - Relaciones exteriores - 1945-...,B'enim' b'ac' b'a' b'a' b'in'.

In [50]:
df_categor_tab.to_csv('sqldump/categories.csv', index=False)

In [51]:
df_cat_headrh = df_cat_final.replace(r'^\s*$', np.nan, regex=True).dropna(how='any',axis=0)
df_cat_headrh

                                           category dom_category
92                                          Gay men          Men
119                                       Civil law          Law
134                                       City girl        Girls
155                                      Bus travel       Travel
177                                     New England      England
..                                              ...          ...
535           Death (Fictitious character : Gaiman)        Death
543          Detective and mystery stories, English      English
545         Detective and mystery stories, American    Americans
548         African Americans in radio broadcasting    Americans
551  Detective and mystery comic books, strips, etc        Books

[183 rows x 2 columns]

In [52]:
df_cat_headrh.to_csv('sqldump/categories_hierarchy.csv', index=False)

In [53]:
df_a = df[['isbn','authors']]
df_a_full = pd.DataFrame(columns=['isbn','author'])
df_a_full['isbn'] = df_a_full['isbn'].astype(dtype=np.int64, errors='ignore')

i=0
for index, row in df_a.iterrows():   
    for author in row['authors'].split(";"):
        df_a_full.loc[i] = {'isbn' : row['isbn'], 'author' : author}
        i+=1

In [54]:
df_a_full.to_csv('sqldump/book_author.csv', index=False)
df_a_full

               isbn                         author
0     9780002005883             Marilynne Robinson
1     9780002261982                Charles Osborne
2     9780002261982                Agatha Christie
3     9780006163831           Stephen R. Donaldson
4     9780006178736                 Sidney Sheldon
...             ...                            ...
7857  9788185300535       Sri Nisargadatta Maharaj
7858  9788185300535            Sudhakar S. Dikshit
7859  9789027712059  Georg Wilhelm Friedrich Hegel
7860  9789042003408                   Helena Grice
7861  9789042003408                      Tim Woods

[7862 rows x 2 columns]

In [55]:
df_main = df.copy()
df_main = df_main.drop(['authors'],axis=1)
df_main.head()

,isbn,title,categories,description,published_year,average_rating,num_pages,ratings_count,book_thickness,price
1,9780002005883,Gilead,Fiction,A NOVEL THAT READERS and critics have been eag...,2004,3.85,247,361,24,10.80
2,9780002261982,Spider's Web. A Novel,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...,2000,3.83,241,5164,37,16.60
3,9780006163831,The One Tree,American fiction,Volume Two of Stephen Donaldson's acclaimed se...,1982,3.97,479,172,35,15.75
4,9780006178736,Rage of angels,Fiction,"A memorable, mesmerizing heroine Jennifer -- b...",1993,3.93,512,29532,43,19.05
5,9780006280897,The Four Loves,Christian life,Lewis' work on the nature of love divides love...,2002,4.15,170,33684,23,10.01

In [56]:
df_main.to_csv('sqldump/books.csv', index=False)

In [57]:
bookcase_types = pd.DataFrame(
    {'type': ['type_1','type_2','type_3'],
     'width': [1200,1800,2400],
     'shelf_numbers': [8,7,6]
    })
bookcase_types

     type  width  shelf_numbers
0  type_1   1200              8
1  type_2   1800              7
2  type_3   2400              6

In [58]:
bookcase_types.to_csv('sqldump/bookcase_types.csv', index=False)

In [59]:
pd.set_option('display.max_rows', 50)
bookcases = pd.DataFrame({'hall' : [],'bookcase':[],'bookcase_type':[]})
bookcases['hall'] = bookcases['hall'].astype(dtype=pd.Int32Dtype(), errors='ignore')
bookcases['bookcase'] = bookcases['bookcase'].astype(dtype=pd.Int32Dtype(), errors='ignore')

for i in range(1,6):
    for j in range(1,13):
        bookcases = bookcases.append({'hall' : i,'bookcase':j,'bookcase_type':list(bookcase_types['type'].sample(n=1))[0]}, ignore_index=True)
bookcases

   hall bookcase bookcase_type
0     1        1        type_1
1     1        2        type_3
2     1        3        type_2
3     1        4        type_2
4     1        5        type_1
..  ...      ...           ...
55    5        8        type_3
56    5        9        type_2
57    5       10        type_2
58    5       11        type_2
59    5       12        type_2

[60 rows x 3 columns]

In [60]:
bookcases.to_csv('sqldump/bookcases.csv', index=False)

In [61]:
shelves = bookcases.copy()
shelves = shelves.drop(shelves.index[:])
shelves = shelves.drop('bookcase_type',axis=1)
for index, row in bookcases.iterrows():
    r_type = bookcase_types[bookcase_types['type'] == row['bookcase_type']]
    width = list(r_type['width'])[0]
    n = list(r_type['shelf_numbers'])[0]
    
    for i in range(1,n+1):
        shelves = shelves.append({'hall' : row['hall'],'bookcase':row['bookcase'],'shelf':i,'max_w':width}, ignore_index=True)

shelves = shelves.astype(int)
shelves

     hall  bookcase  max_w  shelf
0       1         1   1200      1
1       1         1   1200      2
2       1         1   1200      3
3       1         1   1200      4
4       1         1   1200      5
..    ...       ...    ...    ...
427     5        12   1800      3
428     5        12   1800      4
429     5        12   1800      5
430     5        12   1800      6
431     5        12   1800      7

[432 rows x 4 columns]

In [62]:
sum(shelves.max_w)

706800

In [63]:
books_shelf = df_main[['isbn','book_thickness']].copy()
books_shelf['numbers'] = np.random.randint(0, 6, len(books_shelf))
books_shelf['hall'] = -1
books_shelf['bookcase'] = -1
books_shelf['shelf'] = -1
books_shelf

               isbn  book_thickness  numbers  hall  bookcase  shelf
1     9780002005883              24        4    -1        -1     -1
2     9780002261982              37        4    -1        -1     -1
3     9780006163831              35        3    -1        -1     -1
4     9780006178736              43        3    -1        -1     -1
5     9780006280897              23        3    -1        -1     -1
...             ...             ...      ...   ...       ...    ...
6804  9788173031014              26        1    -1        -1     -1
6805  9788179921623              18        0    -1        -1     -1
6806  9788185300535              58        1    -1        -1     -1
6809  9789027712059              23        3    -1        -1     -1
6810  9789042003408              12        3    -1        -1     -1

[6411 rows x 6 columns]

In [64]:
(books_shelf['book_thickness'] * books_shelf['numbers']) .sum(),(books_shelf['book_thickness'] * books_shelf['numbers']) .max()

(577466, 1120)

In [65]:
i = 0
for index, row in books_shelf.iterrows():
    flag = True
    while flag and i < len(shelves):
        shelf = shelves.iloc[i]
        if (shelf['max_w'] - row['numbers'] * row['book_thickness'] >= 0) : 
            shelves.loc[i, 'max_w'] = shelf['max_w'] - row['numbers'] * row['book_thickness']
            books_shelf.loc[index, 'hall'] = shelf['hall']
            books_shelf.loc[index, 'bookcase'] = shelf['bookcase']
            books_shelf.loc[index, 'shelf'] = shelf['shelf']
            flag = False
        else:
            i = i+1
#         flag = False

books_shelf = books_shelf.drop('book_thickness',axis=1)
books_shelf = books_shelf.drop(books_shelf.loc[(books_shelf[['numbers']]==0).any(axis=1)].index)
books_shelf = books_shelf.drop(books_shelf.loc[(books_shelf[['shelf']]==-1).any(axis=1)].index)
books_shelf = books_shelf.reindex(columns=['isbn', 'hall', 'bookcase', 'shelf','numbers'])
books_shelf

               isbn  hall  bookcase  shelf  numbers
1     9780002005883     1         1      1        4
2     9780002261982     1         1      1        4
3     9780006163831     1         1      1        3
4     9780006178736     1         1      1        3
5     9780006280897     1         1      1        3
...             ...   ...       ...    ...      ...
6803  9788172235222     5         5      4        3
6804  9788173031014     5         5      4        1
6806  9788185300535     5         5      4        1
6809  9789027712059     5         5      4        3
6810  9789042003408     5         5      4        3

[5312 rows x 5 columns]

In [66]:
pd.set_option('display.max_rows', None)
shelves

     hall  bookcase  max_w  shelf
0       1         1    212      1
1       1         1     24      2
2       1         1     90      3
3       1         1     25      4
4       1         1      3      5
5       1         1     22      6
6       1         1     88      7
7       1         1    103      8
8       1         2     68      1
9       1         2    162      2
10      1         2     18      3
11      1         2     60      4
12      1         2     54      5
13      1         2      0      6
14      1         3    292      1
15      1         3     63      2
16      1         3     38      3
17      1         3     88      4
18      1         3     32      5
19      1         3     77      6
20      1         3    150      7
21      1         4     15      1
22      1         4      0      2
23      1         4     53      3
24      1         4     89      4
25      1         4     20      5
26      1         4     57      6
27      1         4     88      7
28      1         5     11      1
29      1         5     70      2
30      1         5     53      3
31      1         5     38      4
32      1         5    244      5
33      1         5      6      6
34      1         5    125      7
35      1         5     12      8
36      1         6     16      1
37      1         6    114      2
38      1         6     79      3
39      1         6     77      4
40      1         6    117      5
41      1         6     62      6
42      1         6     17      7
43      1         6     26      8
44      1         7     73      1
45      1         7     41      2
46      1         7     46      3
47      1         7     69      4
48      1         7      7      5
49      1         7    169      6
50      1         7      7      7
51      1         8     16      1
52      1         8     59      2
53      1         8     31      3
54      1         8     18      4
55      1         8     96      5
56      1         8     18      6
57      1         8     25      7
58      1         9     19      1
59      1         9    120      2
60      1         9     97      3
61      1         9    116      4
62      1         9     70      5
63      1         9     11      6
64      1         9      5      7
65      1        10     87      1
66      1        10     75      2
67      1        10     64      3
68      1        10     29      4
69      1        10     18      5
70      1        10     13      6
71      1        10     67      7
72      1        10    179      8
73      1        11    651      1
74      1        11     23      2
75      1        11     15      3
76      1        11     27      4
77      1        11     51      5
78      1        11     22      6
79      1        11    131      7
80      1        11    131      8
81      1        12    128      1
82      1        12     74      2
83      1        12     33      3
84      1        12     18      4
85      1        12    142      5
86      1        12     57      6
87      2         1     29      1
88      2         1     83      2
89      2         1     47      3
90      2         1    102      4
91      2         1    215      5
92      2         1     36      6
93      2         1     80      7
94      2         2     43      1
95      2         2      6      2
96      2         2    119      3
97      2         2    159      4
98      2         2    154      5
99      2         2    357      6
100     2         2     42      7
101     2         2     46      8
102     2         3     85      1
103     2         3    116      2
104     2         3    121      3
105     2         3     93      4
106     2         3    146      5
107     2         3      6      6
108     2         3     27      7
109     2         3    132      8
110     2         4     87      1
111     2         4     10      2
112     2         4     37      3
113     2         4     11      4
114     2         4     37      5
115     2         4    210      6
116     2         4     31      7
117     2         4     26      8
118     2         5     48      1
119     2         5     26      2
120     2         5     92      3
121     2         5     94      4
122     2         5     60      5
123     2         5    183      6
124     2         5     10      7
125     2         5     41      8
126     2         6     40      1
127     2         6     44      2
128     2         6    117      3
129     2         6     48      4
130     2         6    149      5
131     2         6      0      6
132     2         6     25      7
133     2         7     85      1
134     2         7    335      2
135     2         7     46      3
136     2         7    169      4
137     2         7     54      5
138     2         7     27      6
139     2         7     94      7
140     2         7     45      8
141     2         8     90      1
142     2         8     58      2
143     2         8     78      3
144     2         8     77      4
145     2         8     65      5
146     2         8     95      6
147     2         8      9      7
148     2         9     97      1
149     2         9     51      2
150     2         9    117      3
151     2         9    110      4
152     2         9    342      5
153     2         9    132      6
154     2         9     86      7
155     2        10     55      1
156     2        10    797      2
157     2        10     20      3
158     2        10     22      4
159     2        10    437      5
160     2        10    114      6
161     2        11      1      1
162     2        11    139      2
163     2        11    138      3
164     2        11    181      4
165     2        11     39      5
166     2        11    513      6
167     2        11     81      7
168     2        11      6      8
169     2        12     18      1
170     2        12     52      2
171     2        12    203      3
172     2        12     36      4
173     2        12     82      5
174     2        12     18      6
175     2        12    109      7
176     3         1     94      1
177     3         1    364      2
178     3         1     82      3
179     3         1     59      4
180     3         1    231      5
181     3         1     71      6
182     3         1    163      7
183     3         2     18      1
184     3         2     10      2
185     3         2     98      3
186     3         2     56      4
187     3         2    141      5
188     3         2    214      6
189     3         2     32      7
190     3         2    276      8
191     3         3    119      1
192     3         3     32      2
193     3         3    118      3
194     3         3     16      4
195     3         3     99      5
196     3         3     94      6
197     3         3    170      7
198     3         4    151      1
199     3         4     18      2
200     3         4    194      3
201     3         4     89      4
202     3         4     21      5
203     3         4     11      6
204     3         5    116      1
205     3         5     29      2
206     3         5     79      3
207     3         5     53      4
208     3         5    165      5
209     3         5    750      6
210     3         5     47      7
211     3         6    232      1
212     3         6    178      2
213     3         6    158      3
214     3         6     93      4
215     3         6     15      5
216     3         6    108      6
217     3         6     24      7
218     3         6     66      8
219     3         7    121      1
220     3         7     36      2
221     3         7     69      3
222     3         7     19      4
223     3         7    152      5
224     3         7    102      6
225     3         7    169      7
226     3         7     58      8
227     3         8    109      1
228     3         8    106      2
229     3         8    118      3
230     3         8    163      4
231     3         8     47      5
232     3         8    131      6
233     3         8    139      7
234     3         9    182      1
235     3         9     60      2
236     3         9    141      3
237     3         9     29      4
238     3         9     48      5
239     3         9     73      6
240     3         9     65      7
241     3        10      9      1
242     3        10     68      2
243     3        10     28      3
244     3        10    300      4
245     3        10     15      5
246     3        10      6      6
247     3        11     15      1
248     3        11     85      2
249     3        11    176      3
250     3        11      6      4
251     3        11     35      5
252     3        11     30      6
253     3        11    212      7
254     3        12    181      1
255     3        12     80      2
256     3        12     34      3
257     3        12    103      4
258     3        12    118      5
259     3        12     37      6
260     4         1     54      1
261     4         1    138      2
262     4         1    125      3
263     4         1      2      4
264     4         1     18      5
265     4         1     21      6
266     4         1     34      7
267     4         2     89      1
268     4         2     46      2
269     4         2    144      3
270     4         2     50      4
271     4         2     98      5
272     4         2      9      6
273     4         2     27      7
274     4         2      5      8
275     4         3    133      1
276     4         3     16      2
277     4         3    307      3
278     4         3     98      4
279     4         3    332      5
280     4         3    134      6
281     4         3     65      7
282     4         3     75      8
283     4         4    159      1
284     4         4    532      2
285     4         4     92      3
286     4         4     22      4
287     4         4      9      5
288     4         4     62      6
289     4         4     73      7
290     4         4     12      8
291     4         5     48      1
292     4         5    177      2
293     4         5     51      3
294     4         5     97      4
295     4         5     55      5
296     4         5    100      6
297     4         5     50      7
298     4         6     52      1
299     4         6    139      2
300     4         6    168      3
301     4         6      5      4
302     4         6    132      5
303     4         6    130      6
304     4         6     86      7
305     4         6    104      8
306     4         7      1      1
307     4         7     64      2
308     4         7      6      3
309     4         7     93      4
310     4         7     28      5
311     4         7     36      6
312     4         8    503      1
313     4         8     65      2
314     4         8    216      3
315     4         8     68      4
316     4         8     20      5
317     4         8    215      6
318     4         8     34      7
319     4         9     62      1
320     4         9     29      2
321     4         9     76      3
322     4         9    203      4
323     4         9     74      5
324     4         9    426      6
325     4         9    130      7
326     4         9    105      8
327     4        10     85      1
328     4        10    174      2
329     4        10     70      3
330     4        10    237      4
331     4        10    121      5
332     4        10     46      6
333     4        10    109      7
334     4        11     34      1
335     4        11      0      2
336     4        11      2      3
337     4        11    191      4
338     4        11     53      5
339     4        11    141      6
340     4        11     40      7
341     4        12     33      1
342     4        12     18      2
343     4        12    123      3
344     4        12    150      4
345     4        12    184      5
346     4        12     29      6
347     4        12      1      7
348     4        12     91      8
349     5         1     24      1
350     5         1     26      2
351     5         1    103      3
352     5         1     88      4
353     5         1    156      5
354     5         1     34      6
355     5         1     23      7
356     5         2     59      1
357     5         2     20      2
358     5         2     32      3
359     5         2     78      4
360     5         2    100      5
361     5         2     47      6
362     5         3    128      1
363     5         3    341      2
364     5         3     60      3
365     5         3     38      4
366     5         3    540      5
367     5         3    100      6
368     5         3     59      7
369     5         3    142      8
370     5         4     79      1
371     5         4     52      2
372     5         4     71      3
373     5         4     31      4
374     5         4     91      5
375     5         4    141      6
376     5         5     44      1
377     5         5      0      2
378     5         5    170      3
379     5         5     68      4
380     5         5   1200      5
381     5         5   1200      6
382     5         5   1200      7
383     5         5   1200      8
384     5         6   2400      1
385     5         6   2400      2
386     5         6   2400      3
387     5         6   2400      4
388     5         6   2400      5
389     5         6   2400      6
390     5         7   1200      1
391     5         7   1200      2
392     5         7   1200      3
393     5         7   1200      4
394     5         7   1200      5
395     5         7   1200      6
396     5         7   1200      7
397     5         7   1200      8
398     5         8   2400      1
399     5         8   2400      2
400     5         8   2400      3
401     5         8   2400      4
402     5         8   2400      5
403     5         8   2400      6
404     5         9   1800      1
405     5         9   1800      2
406     5         9   1800      3
407     5         9   1800      4
408     5         9   1800      5
409     5         9   1800      6
410     5         9   1800      7
411     5        10   1800      1
412     5        10   1800      2
413     5        10   1800      3
414     5        10   1800      4
415     5        10   1800      5
416     5        10   1800      6
417     5        10   1800      7
418     5        11   1800      1
419     5        11   1800      2
420     5        11   1800      3
421     5        11   1800      4
422     5        11   1800      5
423     5        11   1800      6
424     5        11   1800      7
425     5        12   1800      1
426     5        12   1800      2
427     5        12   1800      3
428     5        12   1800      4
429     5        12   1800      5
430     5        12   1800      6
431     5        12   1800      7

In [67]:
pd.set_option('display.max_rows', 50)

In [68]:
books_shelf.to_csv('sqldump/books_shelf.csv', index=False)